@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

/* Variáveis globais */
:root {
  --primary-border-radius: 1rem;
  --secondary-border-radius: 0.75rem;
  --small-font-size: 0.8rem;
  --medium-font-size: 0.9rem;
  --large-font-size: 1.25rem;
  --extra-large-font-size: 5.5rem;
  --gap-small: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-large: 0.75rem;
  --gap-extra-large: 1rem;
  --correct-color: #3ac7a5;
  --wrong-color: #ff4747;
  --neutral-bg: #f3f4f7;
  --correct-bg: rgba(133, 232, 209, 0.239);
  --wrong-bg: #fef2f2;
}

/* Estruturas principais */
.result-box {
  width: 100%;
  background-color: var(--second-color);
  padding: 1.5rem;
  border-radius: var(--primary-border-radius);
  margin-bottom: var(--gap-extra-large);
}

.result-bg {
  position: relative;
  width: 100%;
  height: 120px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.result-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}

.percentile {
  position: relative;
  top: -10px;
  font-size: var(--extra-large-font-size);
  font-family: "Nabla", cursive;
  z-index: 9;
}

.result-detail {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: 500;
  margin: var(--gap-extra-large) 0;
}

.new-quiz {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--opacity-second);
  border-radius: var(--secondary-border-radius);
  font-size: var(--small-font-size);
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  outline: none;
  border: none;
}

/* Títulos */
.check-answers-title {
  color: var(--dark-color);
  font-size: var(--large-font-size);
  font-weight: 700;
  margin-bottom: var(--gap-extra-large);
}

/* Estruturas de resposta */
.check-answers-boxes {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.check-answer-box {
  padding: 1.25rem;
  background-color: var(--body-bg);
  border-radius: var(--primary-border-radius);
}

.check-answer-box.correct {
  border-left: 7px solid var(--correct-color);
}

.check-answer-box.wrong {
  border-left: 7px solid var(--wrong-color);
}

/* Layout interno de respostas */
.check-answer-top {
  display: grid;
  align-items: center;
  grid-template-columns: calc(100% - 60px) 60px;
}

.check-answer-count {
  color: var(--first-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  margin-bottom: var(--gap-medium);
}

.check-answer-question {
  color: var(--dark-color);
  font-size: var(--medium-font-size);
  font-weight: 500;
}

/* Ícones */
.check-icon {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: var(--gap-large);
}

.check-answer-box.correct .check-icon {
  background-color: var(--correct-bg);
}

.check-answer-box.wrong .check-icon {
  background-color: var(--wrong-bg);
}

.check-icon i {
  font-size: 1.75rem;
  opacity: 1;
}

.check-answer-box.correct .check-icon i {
  color: var(--correct-color);
}

.check-answer-box.wrong .check-icon i {
  color: var(--wrong-color);
}

/* Respostas */
.answer-box {
  width: 100%;
  margin-top: var(--gap-extra-large);
  border-radius: var(--gap-large);
  background-color: var(--neutral-bg);
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.check-answer-box.correct .answer-box:nth-child(1) {
  background-color: var(--correct-bg);
}

.check-answer-box.wrong .answer-box:nth-child(1) {
  background-color: var(--wrong-bg);
}

.answer-title {
  font-size: 0.7rem;
  color: #949fae;
}

.check-answer-box.correct .answer-box:nth-child(1) .answer-title {
  color: var(--correct-color);
}

.check-answer-box.wrong .answer-box:nth-child(1) .answer-title {
  color: var(--wrong-color);
}

.answer-text {
  font-size: var(--small-font-size);
  color: var(--dark-color);
}
